
body {
    margin-top: 120px;
    /* 'Trebuchet MS', */
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.75rem;
    font-weight: 950;
    color: whitesmoke;
    letter-spacing: 1.2;
    text-align: center;

    background-image: url("./images/istockphoto-1218355494-612x612.jpg");
    background-size: cover;
}

h1 {
    color: goldenrod;
    font-weight: 1000;
}

#message-el {
    font-style: italic;
}

button {
    display: block;
    margin: 10px auto;
    font-size: 1.4rem;
    font-weight: 800;
    color: #016f32;
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: goldenrod;
}

button:hover {
    background-color: rgb(243, 198, 84);
    border: 2px solid goldenrod;
}